<<<<<<< HEAD
body {
      background-color: #0f0f1a;
}

h1 span {
      color:rgb(234, 225, 225);
}

pre {
      color:rgb(234,225,225);
}

.github {
background-color: black;
color:white;
border:none;
border-radius:40px;
padding:6px 12px;
cursor:pointer;
transition:opacity 0.2s,transform 0.2s;           
}

.github:hover {
opacity:0.8;
transform: scale(1.2);
}

.github:active {
opacity:0.6;
}
=======
body {
        background-color: #0f0f1a;
      }

h1 span {
            color:rgb(234, 225, 225);
          }

          pre {
            color:rgb(234,225,225);
          }

          .github {
            background-color: black;
            color:white;
            border:none;
            border-radius:40px;
            padding:6px 12px;
            cursor:pointer;
            transition:opacity 0.2s,transform 0.2s;
          }

          .github:hover {
            opacity:0.8;
            transform: scale(1.2);
          }

          .github:active {
            opacity:0.6;
          }
>>>>>>> bd558e1b1f236ea8ecc4c279b9eff7f335fa5056
