body {
      background-color: #0f0f1a;
}

h1 span {
      color:rgb(234, 225, 225);
}

p {
      color:rgb(234,225,225);
}

.github {
background-color: black;
color:white;
border:none;
border-radius:40px;
padding:6px 12px;
cursor:pointer;
transition:opacity 0.2s,transform 0.2s;           
}

.github:hover {
opacity:0.8;
transform: scale(1.2);
}

.github:active {
opacity:0.6;
}
